<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row" g-3>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                    <label for="" class="form-label">UserId</label>
                    <input type="text" class="form-control" name="userid" [(ngModel)]="userid">
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                    <label for="" class="form-label">Password</label>
                    <input type="password" name="password" id="" class="form-control" [(ngModel)]="password">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl12 col-xxl-12">
                    <button class="btn btn-success" [disabled]="status" (click)="readValues()">Submit</button>
                </div>
                
                <a routerLink="/new">New Users Click Here</a>
            </div>
        </div>
    </div>
</div>
